@keyframes ldio-3llamhzuk2t {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  
  .ldio-3llamhzuk2t div {
    left: 44.5px;
    top: 2.5px;
    position: absolute;
    animation: ldio-3llamhzuk2t linear 1s infinite;
    background: #df1317;
    width: 11px;
    height: 35px;
    border-radius: 5.5px / 15.05px;
    transform-origin: 5.5px 47.5px;
  }
  
  .ldio-3llamhzuk2t div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #df1317;
  }
  
  .ldio-3llamhzuk2t div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #df1317;
  }
  .loadingio-spinner-spinner-pve57pekjv {
    width: 30px;
    height: 30px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-3llamhzuk2t {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.3);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-3llamhzuk2t div { box-sizing: content-box; }